{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb__title">{% trans "Sign In" %}</h1>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="index.html">home</a></li>
                        <li class="active__list-item">pages</li>
                        <li>login</li>
                    </ul>
                    <div class="text-outline">login</div>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}



<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<section class="form-shared">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form__title">Login to your account!</h3>
                        <p class="form__desc">with your social network.</p>
                    </div>
                    <!--Contact Form-->
                  <form  method="post" action="{% url 'account_login' %}">

<!--                    <form method="post">-->
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <a href="{{ signup_url }}" class="theme-btn sign-btn btn__google" >
                                        <i class="fa fa-google"></i> Google
                                    </a>
                                </div>
                            </div><!-- end col-lg-4 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <a href="{{ signup_url }}" class="theme-btn sign-btn btn__facebook" >
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                </div>
                            </div><!-- end col-lg-4 -->
                            <div class="col-lg-4 col-sm-4 form-group">
                                <div class="form-group">
                                    <a href="{{ signup_url }}" class="theme-btn sign-btn btn__twitter" >
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </div>
                            </div><!-- end col-lg-4 -->
                            <div class="col-lg-12 col-sm-12">
                                <div class="account-assist text-center">
                                    <p class="account__desc account__desc2">or</p>
                                </div>
                                </div>
                          {% csrf_token %}
                    {{ form | crispy }}
                    {% if redirect_field_value %}
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" placeholder="Username, or email">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div><!-- end col-md-12 -->

                          {% endif %}
                            <div class="col-lg-12 col-sm-12">
                                <div class="custom-checkbox mb-4">
                                    <a href="{% url 'account_reset_password' %}" class="pass__desc"> Forgot my password?</a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                 <div class="form-group">
                                     <button class="theme-btn" type="submit">{% trans "login now" %}</button>

                                 </div>
                            </div><!-- end col-md-12 -->
                            <div class="col-lg-12 col-sm-12">
                              <div class="account-assist">
                                  <p class="account__desc">Not a member?<a href="{{ signup_url }}"> Register now</a></p>
                              </div>
                            </div><!-- end col-md-12 -->
                        </div><!-- end row -->
                    </form>

                </div><!-- end contact-form -->
            </div><!-- end col-md-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end form-shared -->

 {% endblock %}





