
{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb__title">{% trans "Reset Password" %}</h1>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="index.html">home</a></li>
                        <li class="active__list-item">pages</li>
                        <li>Reset Password</li>
                    </ul>
                    <div class="text-outline">login</div>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<section class="form-shared">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="contact-form-action">

                    <div class="form-heading text-center">
                        <h3 class="form__title">{% trans "Password Reset" %}</h3>

                    </div>
                    <!--Contact Form-->
                   <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">

                <!--<form method="post">-->
                        <div class="row">

                          {% csrf_token %}
                    {{ form | crispy }}
                    {% if redirect_field_value %}
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" placeholder="Username, or email">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div><!-- end col-md-12 -->

                          {% endif %}

                            <div class="col-lg-12 col-sm-12">
                                 <div class="form-group">
                                      <input type="submit" class="theme-btn" value="{% trans 'Reset My Password' %}" />
                                 </div>
                            </div><!-- end col-md-12 -->
                            <div class="col-lg-12 col-sm-12">
                              <div class="account-assist">
                                  <p class="account__desc">Have Password?<a href="{{ login_url }}"> Login now</a></p>
                              </div>
                            </div><!-- end col-md-12 -->
                        </div><!-- end row -->
                    </form>

                </div><!-- end contact-form -->
            </div><!-- end col-md-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end form-shared -->
{% endblock  %}






