{% extends "base.html" %}
{% load static %}

<!-- ================================
    START BREADCRUMB AREA
================================= -->

{% block content %}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb__title">course grid</h2>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="index.html">home</a></li>
                        <li class="active__list-item">courses</li>
                        <li>course grid</li>
                    </ul>
                    <div class="text-outline">course grid</div>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!--======================================
        START COURSE AREA
======================================-->
<section class="course-area course-area4">
    <div class="course-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course-tab-wrap d-flex align-items-center">
                        <ul class="course-tab-list nav nav-tabs align-items-center" role="tablist"
                            id="review">
                            <li role="presentation">
                                <a href="#tab1" role="tab" data-toggle="tab" class="active" aria-selected="true">
                                    <span class="la la-th-large" data-toggle="tooltip" data-placement="top" title="Grid view"></span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#tab2" role="tab" data-toggle="tab" aria-selected="false">
                                    <span class="la la-th-list" data-toggle="tooltip" data-placement="top" title="List view"></span>
                                </a>
                            </li>
                            <li><span class="courses-showing-text"> 8 Courses Found</span></li>
                        </ul>
                        <div class="course-filter d-flex align-items-center ml-auto">
                            <div class="courses-ordering">
                                <select class="target-course">
                                    <option value="all-category">All Category</option>
                                    <option value="newest">Newest courses</option>
                                    <option value="oldest">Oldest courses</option>
                                    <option value="Popular-courses">Popular courses</option>
                                    <option value="high-to-low">Price: high to low</option>
                                    <option value="low to high">Price: low to high</option>
                                </select>
                            </div><!-- end courses-ordering -->
                        </div><!-- end course-filter -->
                    </div><!-- end course-tab-wrap -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end course-wrapper -->
    <div class="course-content-wrapper">
        <div class="container">
            <div class="row course-item-wrap">
                <div class="col-lg-8">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="tab1">
                            <div class="row course-block">
                               {% for course in object_list %}
                                <div class="col-lg-6">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="{% static 'images/img11.jpg' %}" alt=""></a>
                                            <div class="course-tooltip">
                                                <span class="tooltip-label">{{course.label1}}</span>
                                            </div>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">{{course.label2}}</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="{{ course.get_absolute_url }}">{{course.title}}</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">{{course.author}}</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
<!--                                                <span class="star-rating-wrap">-->
<!--                                                    <span class="star__rating">4.5</span>-->
<!--                                                    <span class="star__count">(40)</span>-->
<!--                                                </span>-->
                                            </div><!-- end rating-wrap -->
<!--                                            <div class="course-meta">-->
<!--                                                <ul class="course__list d-flex">-->
<!--                                                    <li>-->
<!--                                                        <span class="meta__date">-->
<!--                                                            <i class="la la-play-circle"></i> 45 Classes-->
<!--                                                        </span>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <span class="meta__date">-->
<!--                                                            <i class="la la-clock-o"></i> 3 hours 20 min-->
<!--                                                        </span>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>&lt;!&ndash; end course-meta &ndash;&gt;-->
                                            <div class="course-price-wrap">
                                                <span class="course__price">${{course.price}}</span>
                                                <a href="#" class="course__btn">Add to cart</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-6 -->

                                {% endfor %}


                            </div><!-- end course-block -->
                        </div><!-- end tab-pane -->

                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="row course-block course-list-block">
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img13.jpg" alt=""></a>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">beginner</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">WordPress for Beginners – Master WordPress</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">alex smith</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.4</span>
                                                    <span class="star__count">(20)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">Free</span>
                                                <a href="#" class="course__btn">Get Enrolled</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img12.jpg" alt=""></a>
                                            <div class="course-tooltip">
                                                <span class="tooltip-label">bestseller</span>
                                            </div>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">beginner</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">Learn Ethical Hacking from Scratch Your Stepping</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">brad travesy</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.2</span>
                                                    <span class="star__count">(30)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">$33.00</span>
                                                <a href="#" class="course__btn">Add to cart</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img11.jpg" alt=""></a>
                                            <div class="course-tooltip">
                                                <span class="tooltip-label">highest rated</span>
                                            </div>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">Microsoft SQL Server 2019 for Everyone</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">mark hardson</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.5</span>
                                                    <span class="star__count">(40)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">$68.00</span>
                                                <a href="#" class="course__btn">Add to cart</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img10.jpg" alt=""></a>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">User Experience Design - Adobe XD UI UX Design</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">kamran paul</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.4</span>
                                                    <span class="star__count">(20)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">Free</span>
                                                <a href="#" class="course__btn">Get Enrolled</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img11.jpg" alt=""></a>
                                            <div class="course-tooltip">
                                                <span class="tooltip-label">highest rated</span>
                                            </div>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">Microsoft SQL Server 2019 for Everyone</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">mark hardson</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.5</span>
                                                    <span class="star__count">(40)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">$68.00</span>
                                                <a href="#" class="course__btn">Add to cart</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img10.jpg" alt=""></a>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">User Experience Design - Adobe XD UI UX Design</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">kamran paul</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.4</span>
                                                    <span class="star__count">(20)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">Free</span>
                                                <a href="#" class="course__btn">Get Enrolled</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img13.jpg" alt=""></a>
                                            <div class="course-tooltip">
                                                <span class="tooltip-label">highest rated</span>
                                            </div>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">Microsoft SQL Server 2019 for Everyone</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">mark hardson</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.5</span>
                                                    <span class="star__count">(40)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">$68.00</span>
                                                <a href="#" class="course__btn">Add to cart</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                                <div class="col-lg-12">
                                    <div class="course-item">
                                        <div class="course-img">
                                            <a href="course-details.html" class="course__img"><img src="images/img14.jpg" alt=""></a>
                                        </div><!-- end course-img -->
                                        <div class="course-content">
                                            <p class="course__label">
                                                <span class="course__label-text">all levels</span>
                                                <a href="#" class="course__collection-icon" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="la la-heart-o"></span></a>
                                            </p>
                                            <h3 class="course__title">
                                                <a href="course-details.html">User Experience Design - Adobe XD UI UX Design</a>
                                            </h3>
                                            <p class="course__author">
                                                <a href="#">kamran paul</a>
                                            </p>
                                            <div class="rating-wrap d-flex">
                                                <ul class="review-stars d-flex">
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star"></span></li>
                                                    <li><span class="la la-star-o"></span></li>
                                                </ul>
                                                <span class="star-rating-wrap">
                                                    <span class="star__rating">4.4</span>
                                                    <span class="star__count">(20)</span>
                                                </span>
                                            </div><!-- end rating-wrap -->
                                            <div class="course-meta">
                                                <ul class="course__list d-flex">
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-play-circle"></i> 45 Classes
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="meta__date">
                                                            <i class="la la-clock-o"></i> 3 hours 20 min
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div><!-- end course-meta -->
                                            <div class="course-price-wrap">
                                                <span class="course__price">Free</span>
                                                <a href="#" class="course__btn">Get Enrolled</a>
                                            </div><!-- end course-price-wrap -->
                                        </div><!-- end course-content -->
                                    </div><!-- end course-item -->
                                </div><!-- end col-lg-12 -->
                            </div><!-- end course-block -->
                        </div><!-- end tab-pane -->
                    </div><!-- end tab-content -->
                    <div class="pagination-wrap">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end pagination-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h3 class="widget__title">Search field</h3>
                            <span class="section__divider"></span>
                            <div class="contact-form-action">
                                <form method="post">
                                    <div class="form-group">
                                        <input class="form-control" type="search" name="search" placeholder="Search courses...">
                                        <button type="button" class="search__btn"><span class="la la-search"></span></button>
                                    </div>
                                </form>
                            </div><!-- end contact-form-action -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget category-widget">
                            <h3 class="widget__title">Categories</h3>
                            <span class="section__divider"></span>
                            <ul class="widget__list">
                                <li><a href="#">Abacus</a></li>
                                <li><a href="#">Vedic Mathematics</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">Unplug Coding</a></li>
                                <li><a href="#">English Club</a></li>
                                <li><a href="#">Robotics</a></li>
                                <li><a href="#">Quick Maths</a></li>
                                <li><a href="#">Science</a></li>
                            </ul>
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget level-widget">
                            <h3 class="widget__title">Levels</h3>
                            <span class="section__divider"></span>
                            <ul class="instructor__list">
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb1"/>
                                        <label for="chb1">Beginner</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb2"/>
                                        <label for="chb2">Intermediate</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb3"/>
                                        <label for="chb3">Advanced</label>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget sort-widget">
                            <h3 class="widget__title">Sort by</h3>
                            <span class="section__divider"></span>
                            <div class="courses-ordering">
                                <select class="target-course">
                                    <option value="Bestseller">Bestseller</option>
                                    <option value="Popular">Popular</option>
                                    <option value="Recent">Recent</option>
                                    <option value="highest-rated">Highest rated</option>
                                    <option value="Trending">Trending</option>
                                </select>
                            </div><!-- end courses-ordering -->
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget price-widget">
                            <h3 class="widget__title">Price</h3>
                            <span class="section__divider"></span>
                            <ul class="instructor__list">
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb4"/>
                                        <label for="chb4">Free</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb5"/>
                                        <label for="chb5">Paid</label>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget rating-widget">
                            <h3 class="widget__title">Ratings</h3>
                            <span class="section__divider"></span>
                            <ul class="rating__list">
                                <li>
                                    <span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span>
                                    <label class="review-label">
                                        <input type="radio" checked="checked" name="review-radio">
                                        <span class="review-mark"></span>
                                    </label>
                                </li>
                                <li>
                                    <span class="la la-star"></span> <span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span>
                                    <label class="review-label">
                                        <input type="radio" name="review-radio">
                                        <span class="review-mark"></span>
                                    </label>
                                </li>
                                <li>
                                    <span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span>
                                    <label class="review-label">
                                        <input type="radio" name="review-radio">
                                        <span class="review-mark"></span>
                                    </label>
                                </li>
                                <li>
                                    <span class="la la-star"></span><span class="la la-star"></span>
                                    <label class="review-label">
                                        <input type="radio" name="review-radio">
                                        <span class="review-mark"></span>
                                    </label>
                                </li>
                                <li>
                                    <span class="la la-star"></span>
                                    <label class="review-label">
                                        <input type="radio" name="review-radio">
                                        <span class="review-mark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget instructor-widget">
                            <h3 class="widget__title">Instructors</h3>
                            <span class="section__divider"></span>
                            <ul class="instructor__list">
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb6"/>
                                        <label for="chb6">All Instructors</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb7"/>
                                        <label for="chb7">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb8"/>
                                        <label for="chb8">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb9"/>
                                        <label for="chb9">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb10"/>
                                        <label for="chb10">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb11"/>
                                        <label for="chb11">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb12"/>
                                        <label for="chb12">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb13"/>
                                        <label for="chb13">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb14"/>
                                        <label for="chb14">Nava Vision</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb15"/>
                                        <label for="chb15">Nava Vision</label>
                                    </div>
                                </li>
                            </ul>
                            <div class="button-shared">
                                <a href="teachers.html" class="theme-btn">view all instructors</a>
                            </div>
                        </div><!-- end sidebar-widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end course-content-wrapper -->
</section><!-- end courses-area -->

{% endblock %}
<!--======================================
        END COURSE AREA
======================================-->

 {% include "footer.html" %}