{% load static %}

<!-- ================================
         END FOOTER AREA
================================= -->


<section class="footer-area">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="{% static 'images/logo.png' %}" alt="footer logo" class="footer__logo">
                    </a>
                    <ul class="footer-address">
                        <li><a href="tel:9902611993">9902611993,080-48907845</a></li>
                        <li><a href="mailto:ceo@navavision.com" class="mail">ceo@navavision.com</a></li>
                        <li>Address : #159/4, 2nd Floor, Sumathi Vitals Nilaya,Vignana Nagar Main road,Next to church,Above Tasty Bite Bakery,Vignana Nagar, Bangalore - 560075.</li>
                        </ul>
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.facebook.com/navavisionbangalore/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/NavaVision2000"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/navavision/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/nava-vision-796180184"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                             <a href="https://in.pinterest.com/navavisionbangalore/"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">company</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link">
                        <li><a href="#">about us</a></li>
                        <li><a href="#">become a Teacher</a></li>
                        <li><a href="#">support</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">courses</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link">
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">PHP Learning</a></li>
                        <li><a href="#">Spoken English</a></li>
                        <li><a href="#">Self-Driving Car</a></li>
                        <li><a href="#">Garbage Collectors</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">mobile</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link social-link">
                        <li><a href="#"><i class="la la-apple"></i> App Store</a></li>
                        <li><a href="#"><i class="la la-android"></i> Google Play</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row copyright-content align-items-center">
            <div class="col-lg-10">
                <p class="copy__desc">&copy; 2020 NavaVision. All Rights Reserved.</p>
            </div><!-- end col-lg-9 -->
        </div><!-- end copyright-content -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
          END FOOTER AREA
================================= -->

<!-- start scroll top -->
<div id="scroll-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->
<!-- theme js files -->
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/waypoint.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/particlesRun.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/smooth-scrolling.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>